!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to taxi.com, made by softices consultancy pvt ltd
      %br
      %br
      Your name is #{@contact.name}
      %br
    %p
      You have successfully contact our taxi.com  team
      %br
    %p
      #{@contact.name} Your message #{@contact.message} to conversation with our team to taxi.com,
      %br
      we will respond to you as soon as possible
    %h4
      Thanks for contact and have a great day!
